* {
    color: wheat;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}

table{
    border-color: aqua;
    background-color: darkslategray;
    padding: 20px;
}

body>table{
    text-indent: 20px;
}

img{
    object-fit: cover;
}

nav{
    text-align: center;
    padding-bottom: 20px;
}

h3{
    text-align: center;
    padding: 20px 0px 20px 0px;
}

a{
    padding: 0px 20px 20px 20px;
    text-decoration: none;
}